{% extends 'base.html'%} {% block title %}{% endblock %} {%block content %}
<style>
    .breadcrumb-1{
      float: right;
      background-color: #f0f1f7;
  }
    }
</style>
<div class="row mt-2">
  <div class="ms-md-1 ms-0 mt-2">
    <nav>
      <ol class="breadcrumb mb-0 breadcrumb-1">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="#">Categories</a>
        </li>
      </ol>
    </nav>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card custom-card">
        <div class="card-header justify-content-between">
          <div class="card-title">Categories</div>
          <div class="prism-toggle">
            <a
              href="{% url 'add_category' %}"
              class="btn btn-sm btn-primary-light"
            >
              Add Category
              <i
                class="ri-code-s-slash-line ms-2 align-middle d-inline-block"
              ></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table text-nowrap table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for category in categories %}
                <tr>
                  <td scope="row">{{ category.id }}</td>
                  <td>{{ category.name }}</td>
                  <td>
                    <a
                      href="{% url 'delete_category' category.pk %}"
                      class="btn btn-sm btn-danger btn-wave waves-effect waves-light"
                    >
                      <i
                        class="ri-download-2-line align-middle me-2 d-inline-block"
                      ></i>
                      Delete
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
