{% extends 'base.html'%} 
{%block title %}
  Delete Category
{% endblock %}

{%block content %}
{% if user.is_authenticated %}

<div class="card text-white bg-dark mb-3">
  <div class="card-header d-flex justify-content-center">Delete Category</div>
  <div class="card-body">
    <div class="form-group">
      <form method="Post" class="mt-4">
        <p> Are you sure you wanna remove {{ category.name }}</p>
        {% csrf_token %} 
        <button class="btn btn-danger btn-sm">Delete</button>
        <a href="{% url 'home'%}" class="btn btn-secondary btn-sm"> Cancel </a>
    </div>
  </div>
</div>
{% else %}
<div class="card text-center mt-5">
  You're Not Allowed!!
</div>
{% endif %}
{% endblock %}
