<aside class="app-sidebar sticky" id="sidebar">
  <!-- Start::main-sidebar-header -->
   <div class="main-sidebar-header">
    <a href="{% url 'home'%}" class="header-logo">
        <img src="../static/blog/img/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
        <img src="../static/blog/img/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
        <img src="../static/blog/img/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
        <img src="../static/blog/img/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
        <img src="../static/blog/img/brand-logos/desktop-white.png" alt="logo" class="desktop-white">
        <img src="../static/blog/img/brand-logos/toggle-white.png" alt="logo" class="toggle-white">
    </a>
</div>
  <!-- End::main-sidebar-header -->

  <!-- Start::main-sidebar -->
  <div class="main-sidebar" id="sidebar-scroll" data-simplebar="init">
    <div class="simplebar-wrapper" style="margin: -8px 0px -80px">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px">
          <div
            class="simplebar-content-wrapper"
            tabindex="0"
            role="region"
            aria-label="scrollable content"
            style="height: 100%; overflow: hidden scroll"
          >
            <div class="simplebar-content" style="padding: 8px 0px 80px">
              <!-- Start::nav -->
              <nav
                class="main-menu-container nav nav-pills flex-column sub-open open active"
              >
                <div class="slide-left active d-none" id="slide-left">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="#7b8191"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
                    ></path>
                  </svg>
                </div>
                <ul
                  class="main-menu"
                  style="display: block; margin-left: 0px; margin-right: 0px"
                >
                  <!-- Start::slide__category -->
                  <li class="slide__category">
                    <span class="category-name">Blog</span>
                  </li>
                  <!-- End::slide__category -->

                  <!-- Start::slide -->
                  <li class="slide has-sub active open">
                    <a
                      href="{% url 'home'%}"
                      class="side-menu__item active"
                    >
                      <i class="bx bx-home side-menu__icon"></i>
                      <span class="side-menu__label"
                        >All Blogs<span
                          class="badge bg-warning-transparent ms-2"
                        ></span
                      ></span>
                      <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul
                      class="slide-menu child1 active"
                      style="
                        position: relative;
                        left: 0px;
                        top: 0px;
                        margin: 0px;
                        box-sizing: border-box;
                        transform: translate3d(239.333px, 494px, 0px);
                        display: block;
                      "
                      data-popper-placement="bottom"
                      data-popper-reference-hidden=""
                      data-popper-escaped=""
                    ></ul>
                  </li>
                  <!-- End::slide -->

                  <!-- Start::slide__category -->
                  <li class="slide__category">
                    <span class="category-name">Actions</span>
                  </li>
                  <!-- End::slide__category -->

                  <!-- Start::slide -->
                  {% if user.is_authenticated %}
                    <li class="slide has-sub">
                    <a href="{% url 'add_blog'%}" class="side-menu__item">
                      <i class="bx bx-file-blank side-menu__icon"></i>
                      <span class="side-menu__label"
                        >Blogs<span class="badge bg-secondary-transparent ms-2"
                          >Create</span
                        ></span
                      >
                      <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul
                      class="slide-menu child1"
                      style="
                        position: relative;
                        left: 0px;
                        top: 0px;
                        margin: 0px;
                        transform: translate3d(239.333px, 592px, 0px);
                      "
                      data-popper-placement="top"
                      data-popper-reference-hidden=""
                      data-popper-escaped=""
                    ></ul>
                    </li>
                    

                    <li class="slide has-sub">
                      <a href="{% url 'add_category'%}" class="side-menu__item">
                        <i class="bx bx-file-blank side-menu__icon"></i>
                        <span class="side-menu__label"
                          >Categories<span class="badge bg-secondary-transparent ms-2"
                            >Create</span
                          ></span
                        >
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                      </a>
                      <ul
                        class="slide-menu child1"
                        style="
                          position: relative;
                          left: 0px;
                          top: 0px;
                          margin: 0px;
                          transform: translate3d(239.333px, 592px, 0px);
                        "
                        data-popper-placement="top"
                        data-popper-reference-hidden=""
                        data-popper-escaped=""
                      >
                    </ul>
                      </li>
                      <li class="slide has-sub">
                        <a href="{% url 'categories'%}" class="side-menu__item">
                          <i class="bx bx-file-blank side-menu__icon"></i>
                          <span class="side-menu__label"
                            >Categories<span class="badge bg-secondary-transparent ms-2"
                              ></span
                            ></span
                          >
                          <i class="fe fe-chevron-right side-menu__angle"></i>
                        </a>
                        <ul
                          class="slide-menu child1"
                          style="
                            position: relative;
                            left: 0px;
                            top: 0px;
                            margin: 0px;
                            transform: translate3d(239.333px, 592px, 0px);
                          "
                          data-popper-placement="top"
                          data-popper-reference-hidden=""
                          data-popper-escaped=""
                        >
                      </ul>
                        </li>
                    <li class="slide has-sub">
                      <a href="{% url 'logout'%}" class="side-menu__item">
                        <i class="bx bx-file-blank side-menu__icon"></i>
                        <span class="side-menu__label"
                          >LogOut<span class="badge bg-secondary-transparent ms-2"
                            ></span
                          ></span
                        >
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                      </a>
                      <ul
                        class="slide-menu child1"
                        style="
                          position: relative;
                          left: 0px;
                          top: 0px;
                          margin: 0px;
                          transform: translate3d(239.333px, 592px, 0px);
                        "
                        data-popper-placement="top"
                        data-popper-reference-hidden=""
                        data-popper-escaped=""
                      ></ul>
                    </li>
                    
                  {% else %}
                      <!-- Start::slide -->
                  <li class="slide has-sub">
                    <a href="{% url 'login'%}" class="side-menu__item">
                      <i class="bx bx-task side-menu__icon"></i>
                      <span class="side-menu__label"
                        >Login<span class="badge bg-secondary-transparent ms-2"
                          ></span
                        ></span
                      >
                      <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    
                    </ul>
                  </li>
                  <!-- End::slide -->
                  <li class="slide has-sub">
                    <a href="{% url 'register'%}" class="side-menu__item">
                      <i class="bx bx-fingerprint side-menu__icon"></i>
                      <span class="side-menu__label">Sign Up</span>
                      <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul
                      class="slide-menu child1"
                      style="
                        position: relative;
                        left: 0px;
                        top: 0px;
                        margin: 0px;
                        transform: translate3d(239.333px, 676.667px, 0px);
                      "
                      data-popper-placement="top"
                      data-popper-reference-hidden=""
                      data-popper-escaped=""
                    >
                    </ul>
                  </li>
                  {% endif %}
                  <!-- End::slide -->

                  

                  <!-- Start::slide -->
                  
                  <!-- End::slide -->

                  
                <div class="slide-right d-none" id="slide-right">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="#7b8191"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
                    ></path>
                  </svg>
                </div>
              </nav>
              <!-- End::nav -->
            </div>
          </div>
        </div>
      </div>
      <div
        class="simplebar-placeholder"
        style="width: auto; height: 1418px"
      ></div>
    </div>
    <div
      class="simplebar-track simplebar-horizontal"
      style="visibility: hidden"
    >
      <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible">
      <div
        class="simplebar-scrollbar"
        style="
          height: 75px;
          transform: translate3d(0px, 0px, 0px);
          display: block;
        "
      ></div>
    </div>
  </div>
</aside>
